<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.tokyowalklog" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TokyoWalkLog</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <platform name="android">
        <preference name="scheme" value="http" />
        <preference name="hostname" value="localhost" />
        <preference name="SplashScreen" value="splash" />
        <preference name="SplashScreenDelay" value="2000" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="FadeSplashScreen" value="true" />
        <icon src="www/res/icon/android/ic_launcher.png" />
        <resource-file src="www/res/screen/background.png" target="app/src/main/res/drawable/background.png" />
        <resource-file src="www/res/screen/splash.xml" target="app/src/main/res/drawable/splash.xml" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application xmlns:android="http://schemas.android.com/apk/res/android" android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
